@import url("../js/modules/card-list/card-list.css");
@import url("../js/modules/card-details/card-details.css");
#title {
  color: #476b6b; }

h1 {
  text-align: center; }

/* Clearfix
--------------------------------------------- */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* Containers
--------------------------------------------- */
body {
  background-color: #476b6b; }

#main-container {
  height: 100%; }

#container-content {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #f0ead6; }

#content-center {
  float: left;
  min-height: 470px;
  height: 100%; }

.center-main {
  width: 50%; }

.content-border {
  border: solid 1px #476b6b; }

.content {
  width: 98%;
  min-height: 450px;
  color: #000000;
  margin: 10px 1% 10px 1%; }

.aside {
  width: 50%;
  float: left; }

/* Form
--------------------------------------------- */
select {
  width: 179px; }

input {
  width: 175px; }

/*The styles needed for the card-list module*/
/*The styles needed for the card-details module*/
