.data-card-container {
	margin: 10px;
	text-align: center;
	border: 1px solid #476b6b;
	cursor: pointer;
	height: 75px;
}

.data-card-container:hover {
	color: #ffffff;
	background-color: #476b6b;
	border-color: #ffffff;
}

.data-card-info{
	padding-top: 25px;
}

/* Media Queries
--------------------------------------------- */
@media screen and (max-width: 550px) {

	/* Sidebar
	--------------------------------------------- */
	.data-card-info{
		padding: 0px;
	}
}